<form action="/users" method="POST">
    <!-- <%# manually added authenticity token %> -->
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="user">username</label>
    <input type ="text" name="user[username]" id= "username" ><br><br>
    <label for="password">password</label>
    <input type="password" name="user[password]" id="password"><br><br>
    <label for="email">email</label>
    <input type="text" name="user[email]">
    <button type="submit">Submit</button>
</form>

<!-- form_tag rails -->


<!-- rails version with auto authenticity tokens and erb -->
<%= form_with(url: "/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag"user[username]" %><br><br>
    <%= label_tag(:email, "Email:") %>
  <%= text_field_tag"user[email]" %><br><br>
    <%= label_tag(:password, "Password:") %>
  <%= text_field_tag"user[password]" %>
  <%= submit_tag("Search") %>
<%end%>